@media screen and (min-width: 600px) {
	
.ZZ {
	padding-left: 0px;
	}
	.luxbar-brand {
  
		}
	.ICON_MAIN {
	
	}
	.home_menu {
	width: 100%;
	display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
  
	}
.list_menu{
	padding-bottom: 50px;
}
}
