<!-- cookie -->
<!--
<div id="cb-cookie-banner" class="MID" role="alert">
  &#x1F36A; <p>We serve cookies on this site to analyze traffic, remember your preferences, and optimize your experience.</p>
  <a href="https://policies.google.com/technologies/cookies" target="blank">Learn more</a></p>
  <button type="button" class="btn btn-primary btn-sm ms-3" onclick="window.cb_hideCookieBanner()">
    I Got It
  </button>
</div>
-->


<hr>
<footer>
<div class="MID"><a href="/about">About Us</a></div>
<div class="MID"><a href="/contact">Contact Us</a></div>
<div class="MID"><a href="/policy">Privacy Policy</a></div>
	<div class="MID">
     &copy; {{ now.Format "2006"}} Android News
	</div>
</footer>
