{{ partial "meta/html.html" . }}
{{ partial "google/tagmanager_head.html" . }}
{{ partial "google/searchconsole.html" . }}
{{ partial "google/analytics.html" . }}
{{ partial "meta/opengraph.html" . }}
{{ partial "meta/seo.html" . }}
{{ partial "meta/twitter.html" . }}


<!-- javascript load -->


{{/* Stylesheet */}}
<link rel="stylesheet" type="text/css" href="{{ "css/bulma.css" | relURL }}">
<link rel="stylesheet" type="text/css" href="{{ "css/luxbar.css" | relURL }}">
<link rel="stylesheet" type="text/css" href="{{ "css/main.css" | relURL }}">
<link rel="stylesheet" type="text/css" href="{{ "css/maindesktop.css" | relURL }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.svg" | relURL }}" />
        
<title>{{ .Page.Title | default .Site.Title }}</title>
	
{{ partial "style.html" . }}
{{ partial "google/adsense.html" . }}
	