{{ partial "meta/main.html" . }}
<head>
{{ partial "head.html" . }}
{{ partial "adspop.html" . }}
</head>
<body>
{{ partial "navbar.html" . }}


<main class="container">
<h1>{{ .Title }}</h1>
{{ if eq .Params.name_rom "lineage" }}
  <img style=" padding-bottom: 40px;" src="/img/rom/lineage.webp" class="img-fluid" alt="custom rom lineage">
{{ else if eq .Params.name_rom "voltage" }}
  <img style=" padding-bottom: 40px;" src="/img/rom/voltage.webp" class="img-fluid" alt="custom rom lineage">
{{ else if eq .Params.name_rom "orangefox" }}
  <img style=" padding-bottom: 40px;" src="/img/rom/orangefox.webp" class="img-fluid" alt="Orangefox Recovery Logo">
{{ else if eq .Params.name_rom "twrp" }}
  <img style=" padding-bottom: 40px;" src="/img/rom/twrp.webp" class="img-fluid" alt="TWRP Recovery logo">
{{ else if eq .Params.name_rom "evolutionx" }}
  <img style=" padding-bottom: 40px;" src="/img/rom/evolutionx.webp" class="img-fluid" alt="Evolutionx rom logo">
{{ else if eq .Params.name_rom "crdroid" }}
  <img style=" padding-bottom: 40px;" src="/img/rom/crdroid.webp" class="img-fluid" alt="Crdroid rom logo">   
{{ else if eq .Params.name_rom "derpfest" }}
  <img style=" padding-bottom: 40px;" src="/img/rom/derpfest.webp" class="img-fluid" alt="Derpfest rom logo">      
{{ else if eq .Params.name_rom "pixelage" }}
  <img style=" padding-bottom: 40px;" src="/img/rom/pixelage.webp" class="img-fluid" alt="pixelage rom logo">
{{ else if eq .Params.name_rom "hyperos" }}
  <img style=" padding-bottom: 40px;" src="/img/rom/hyperos.webp" class="img-fluid" alt="Hyper OS rom logo">      
{{ else if eq .Params.name_rom "yaap" }}
  <img style=" padding-bottom: 40px;" src="/img/rom/yaap.webp" class="img-fluid" alt="Yaap OS rom logo">
{{ else if eq .Params.name_rom "statix" }}
  <img style=" padding-bottom: 40px;" src="/img/rom/statix.webp" class="img-fluid" alt="Statix OS rom logo">  
{{ else }}
  <img style=" padding-bottom: 40px;" src="/img/rom/custom-roms.webp" class="img-fluid" alt="Custom Rom logo">    

{{ end }}

<article>

{{ .Content }}


<div class="container">
<h2>Device Info</h2>
{{ range .Params.categories }}
 <div class="p1"> Type : {{ . }}</div>
{{ end }}



{{ range .Params.keywords }}
<div class="p1"> Device : {{ . }}</div>
{{ end }}
{{ range .Params.tags }}
<div class="p1"> Codename : {{ . }}</div>
{{ end }}

{{ if .Params.author }}

<div class="p1"> Developer : <a href="https://t.me/{{ .Params.author }}">{{ .Params.author }}</a></div>

{{ end }}

{{ if .Params.source }}
<div class="p1"> Source : <a href="{{ .Params.source }}">{{ .Params.source }}</a></div>
{{ end }}

{{ range .Params.keywords }}
<h2> New Release Custom Rom For {{ . }}</h2>
{{ end }}

{{ $P := .Params.tags }}
{{ $Z := where site.RegularPages "Section" "eq" "cusrom" }}
{{ $T :=  where $Z "Params.tags" "intersect" $P }}

{{ range $T | first 50}}

	{{ if eq .Params.tags $P }}
	<div class="p1"><a class="game_link" href="{{ .RelPermalink }}">{{ .Title }}</a></div>
	{{ end }}

{{ end }}

</article>
</main>

{{ partial "footer.html" }}
{{ partial "js.html" . }} 

</body>
</html>
