<hr>
<div class="container-fluid">
 <div class="FFMID">
	<span><a href="https://youtube.com/channel/UCoqHuQ6CssiZCk3q4haOLUQ"><img src="/img/media/youtube.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://fb.me/wahyu6070"><img src="/img/media/facebook.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://t.me/wahyu6070group"><img src="/img/media/telegram.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	
 </div>
 </div>
 <hr>
<footer>
	<div class="p_footer MID"><a href="https://aethersx2.github.io">AetherSX2 Emulator</a></div>
	<div class="p_footer MID"><a href="https://ppsspp.gitlab.io">PPSSPP Emulator</a></div>
	<div class="p_footer MID"><a href="https://dolphin27.gitlab.io">Dolphin Emulator</a></div>
	<div class="p_footer MID"><a href="https://litegapps.github.io">LiteGapps</a></div>
	<div class="MID">
     &copy; {{ now.Format "2006"}} Android Smart
	</div>
</footer>
