{{ partial "ads/footer.html" . }}


<hr>

 <div class="MID">
 	<span><a href="https://t.me/androidrootnet"><img src="/img/media/telegram.webp" alt="androidrootTelegram Icon" class="ICON"></img></a></span>
 </div>

 <hr>
<footer>
	<div class="p_footer MID"><a href="https://aethersx2.me">AetherSX2 Emulator</a></div>
	<div class="p_footer MID"><a href="https://ppsspp.gitlab.io">PPSSPP Emulator</a></div>
	<div class="p_footer MID"><a href="https://dolphin27.gitlab.io">Dolphin Emulator</a></div>
	<div class="p_footer MID"><a href="https://aethersx2.gitlab.io">aethersx2.gitlab.io</a></div>
	<div class="MID">
     &copy; {{ now.Format "2006"}} Android Root
	</div>
</footer>
