{{ partial "meta/html.html" . }}
{{ if .Params.codename }}
<title>{{ .Page.Title | default .Site.Title }} ({{ .Params.codename }})</title>
{{ else }}
<title>{{ .Page.Title | default .Site.Title }}</title>
{{ end }}
{{ partial "google/tagmanager_head.html" . }}
{{ partial "google/searchconsole.html" . }}
{{ partial "google/analytics.html" . }}
{{ partial "meta/opengraph.html" . }}
{{ partial "meta/seo.html" . }}
{{ partial "meta/twitter.html" . }}
{{ partial "framework.html" . }}

<link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | relURL }}" />

{{ partial "google/adsense.html" . }}

{{ partial "style.html" . }}

