{{ define "main" }}
<main>
<div class="container"	>
	<h1>Android Root User</h1>
<p>Welcome to Android Root, this page contains articles about custom Roms, kernels, Magisk modules, KSU modules and several Android tutorials.</p>
<!-- <img class="IMG_HOME" alt="android news homepage" src="img/ss1.png"> -->

<h2>Menu</h2>
<div class="menu_home"><a href="https://androidroot.net/cusrom">Custom ROM</a></div>
<div class="menu_home"><a href="https://androidroot.net/kernel">Kernel</a></div>
<div class="menu_home"><a href="https://androidroot.net/module">Module</a></div>
<div class="menu_home"><a href="https://androidroot.net/etc">Etc</a></div>
<div class="menu_home"><a href="https://androidroot.net/tutorial">Tutorial</a></div>


<img src="/img/c.webp" style="width: 50%; padding: 20px;" class="img-fluid MID" alt="android smart sreenshoot">


<h2>New Release</h2>

<ol>
{{ range sort .Site.RegularPages | first 3000 }}

<li><a class="game_link" href="{{ .RelPermalink }}">{{ .Title }}</a>
<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"> {{ .Date.Format "Jan 2, 2006" }}</time>

</li>
{{ end }}
</ol>

</div>
</main>

{{ end }}
