{{ partial "meta/main.html" . }}
<head>
{{ partial "head.html" . }}
{{ partial "adspop.html" . }}
</head>
<body>
{{ partial "navbar.html" . }}


<main class="container">
<header>
<h1>{{ .Title }}</h1>
<img style=" padding-bottom: 40px;" src="/img/module/0.webp" class="img-fluid" alt="Android Module logo">    
</header>

<article>

{{ .Content }}
<div class="container">
<h2>Device Info</h2>
{{ range .Params.categories }}
 <div class="p1"> Type : {{ . }}</div>
{{ end }}

{{ if .Params.version }}

<div class="p1"> Version : {{ .Params.version }}</div>

{{ end }}

{{ if .Params.by }}

<div class="p1"> Module By : <a href="https://t.me/{{ .Params.by }}">{{ .Params.by }}</a></div>

{{ end }}

{{ if .Params.source }}
<div class="p1"> Source : <a href="{{ .Params.source }}">{{ .Params.source }}</a></div>
{{ end }}

<h2> New Release Module List</h2>

{{ $P := .Params.tags }}
{{ $Z := where site.RegularPages "Section" "eq" "module" }}
{{ $T :=  where $Z "Params.tags" "intersect" $P }}

{{ range $T | first 10}}

	{{ if eq .Params.tags $P }}
	<div class="p1"><a class="game_link" href="{{ .RelPermalink }}">{{ .Title }}</a></div>
	{{ end }}

{{ end }}

</article>
</main>


{{ partial "footer.html" }}
{{ partial "js.html" . }} 
</body>
</html>
